<div class="ic">More Website Templates @ TemplateMonster.com - December 02, 2013!</div>
<div class="container_12">
    <div class="grid_8">
        <h3>About Us</h3>
        <img src="assets/images/CC-bg-2.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
            <p>                                                                                    </p>
            <p>                                                                                        </p>
            <p>                                                                                    </p>
        </div>
          Welcome to Chips & Chops restaurant! We are the latest restaurant in town, offering the best in delicious and unique chips and chops. Our menu features creative dishes made with the freshest ingredients, all cooked to perfection. From our signature chopped salads to slow-cooked pork chops, there's something for everyone to enjoy. So come on in and experience the taste of Chips & Chops!
    </div>
    <div class="grid_4">
        <h3>Features</h3>
        <ul class="list">
            <li><a href="#"><b>Location</b></a></li>
            <p>Location is incredibly important. Even if you have the best menu in the world, if no one can find you, or no one wants to come to your spot, your business is going to fail. Think about your target audience and determine your location based on where the most foot traffic from that market happens.</p>
            <li><a href="#"><b>Fantastic Staff</b></a></li>
            <p>Skilled and friendly staff members are one of the biggest signs of a great restaurant. They set the tone for your whole establishment, so be sure you are picky when you hire. Look for friendliness, the ability to be quick on their feet, and the ability to relate to customers in all staff members.            </p>
            <li><a href="#"><b>Cleanliness</b>></a></li>
            <p>No one wants to go to a dirty restaurant, even if the food is fantastic. Be sure to pick materials that are easy to keep clean when building the location. You should also be sure you have enough staff on each shift to keep the place clean. This includes the bathrooms, kitchen, and any lobby area.</p>
        </ul>
    </div>
    <div class="grid_12">
        <h3 class="head1">Thank you so much</h3>
    </div>
    <div class="">
        <div class="box maxheight">
            <img src="assets/images/.jpg" alt="">
            <div class="title"><a href="#"></a></div>
            
        </div>
    </div>
    <div class="">
        <div class="">
            <img src="assets/images/.jpg" alt="">
            <div class="title"><a href="#"></a></div>
           
        </div>
    </div>
    <div class="">
        <div class="">
            <img src="assets/images/.jpg" alt="">
            <div class="title"><a href="#"></a></div>
            

        </div>
    </div>
    <div class="">
        <div class=" ">
            <img src="assets/images/.jpg" alt="">
            <div class="title"><a href="#"></a></div>
            
        </div>
    </div>
</div>
