header{
    background-image: url('C:\Users\patel\OneDrive\Desktop\restuarant\restaurant_ag6\restaurant_ag6\src\assets\images\background.jpg');
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;


}