<div class="content">
    <div class="ic">More Website Templates @ TemplateMonster.com - December 02, 2013!</div>
    <div class="container_12">
        <div class="grid_8">
            <h3>Reserve Your Table</h3>
            <img src="assets/images/page5_img1.jpg" alt="" class="img_inner fleft">
            <div class="extra_wrapper">
                <p class="col1">Hoivamus at magna non nunc tristiquencus. Fliquam nibh ante, egestas id dictum modo
                    luctus libero. Praesent faucibus malesuad faucibu. </p>
                <p>Dorem ipsum dolor sit amet, consecteturer adipiscing elit. Nullam consectetur orci se nulla facilisis
                    consequat. Kurabitur vellore sit amet nulla ullamcorper ermentum. In vitae varius auguem.</p>
            </div>
            <p>Gamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum ammodo luctus libero.
                Praesent faucibus malesuada faucibus. Forem ipsum dolor sit ametconsectetur adipiscing elit. <span
                        class="cont_phone">For Parties call (023) 101-1100</span> . Nullam consectetur orci sed. </p>
            Murabitur vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula.
            Etiam dui eros. <span class="cont_phone">For Parties call (023) 101-1100</span> <br>
            <!-- <a href="#" class="reserv"><span>@ </span> Click here to Make a reservation Online</a> -->
            <h3 class="head3">Reservation Form</h3>
            <form id="form" [formGroup]="reservationForm" >

                <div class="success_wrapper">
                    <div class="success-message">Reservation form submitted</div>
                </div>
                <label class="name">
                    <input type="text" formControlName="name" placeholder="Name:" data-constraints="@Required @JustLetters"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid name.</span>
                </label>

                <label class="email">
                    <input type="text" placeholder="E-mail:" formControlName="email" data-constraints="@Required @Email"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid email.</span>
                </label>
                <label class="phone">
                    <input type="text" placeholder="Phone: " formControlName="phone" data-constraints="@Required @JustNumbers"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid phone.</span>
                </label>
                <label class="phone test" >
                    <label for="" class="phone">Time:</label>
                    <select  class="time" formControlName="time" >
                        <option *ngFor="let item of time" [value]="item.time" [disabled]="item.occupied == true">{{item.time}}</option>
                    </select>
                    <!-- <input type="text" placeholder="Phone: " formControlName="phone" data-constraints="@Required @JustNumbers"/> -->
                    <!-- <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid phone.</span> -->
                </label>
                <label class="phone test">
                    <label for=""  class="phone">Date</label>
                    <input type="date" formControlName="date" data-constraints="@Required"/>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*This is not a valid phone.</span>
                </label>
                <label class="message">
                    <textarea placeholder="Message:" formControlName="message" data-constraints='@Required @Length(min=20,max=999999)'></textarea>
                    <span class="empty-message">*This field is required.</span>
                    <span class="error-message">*The message is too short.</span>
                </label>
                <div>
                    <div class="clear"></div>
                    <div class="btns">
                        <a href="#" data-type="reset" class="btn">Clear</a>
                        <button data-type="submit" class="btn" (click)="sendReservationdetails()" >Send</button></div>
                </div>
            </form>
        </div>
        <div class="grid_4">
            <div class="hours">
                <div class="title">Our Hours</div>
                <div>
                    Lunch<br>
                    Tues - Sat 11:45 am - 2:30 pm<br>
                    Brunch<br>
                    Sunday 10:30 am - 2 pm<br>
                    Cafe Dinner<br>
                    Sun - Fri 5:30 pm - 9:00 pm<br>
                    Prix Fixe Dinner<br>
                    Saturday 5:30 pm - 9:00 pm<br>
                    Greens to Go<br>
                    Mon - Thurs 8:30 am - varies <br>
                </div>
            </div>
            <h3 class="head3">Our news</h3>
            <div class="news">
                <time datetime="2013-01-01">Sept<span>04</span></time>
                <div class="extra_wrapper">
                    <p class="col1"><a href="#">Fliquam nibh ante, egestas id </a></p>In vitae varius auguemonsectetur
                    ligulatiam dui eros, laoreet sit
                </div>
            </div>
            <div class="news">
                <time datetime="2013-01-01">Oct<span>08</span></time>
                <div class="extra_wrapper">
                    <p class="col1"><a href="#">Fliquam nibh ante, egestas id </a></p>In vitae varius auguemonsectetur
                    ligulatiam dui eros, laoreet sit
                </div>
            </div>
        </div>
    </div>
</div>