<div class="ic">More Website Templates @ TemplateMonster.com - December 02, 2013!</div>
<a href="index-2.html" class="block1">
    <img src="assets/images/blur_img1.jpg" alt="">
    <span class="price"><span>magna non nunc</span><span><small>$</small> 29.35</span><strong></strong></span>
</a>
<a href="index-2.html" class="block1">
    <img src="assets/images/blur_img2.jpg" alt="">
    <span class="price"><span>terto nomino</span><span><small>$</small> 35.45</span><strong></strong></span>
</a>
<a href="index-2.html" class="block1">
    <img src="assets/images/blur_img3.jpg" alt="">
    <span class="price"><span>metus feugiat</span>
<span><small>$</small> 50.10</span><strong></strong></span>
</a>

<div class="container_12">
    <div class="grid_12">
        <h3>Special Dishes</h3>
    </div>
    <div class="grid_3">
        <div class="box maxheight">
            <img src="assets/images/hydrabadi biryani.jpg" alt="">
            <div class="title">hydrabadi biryani</div>
            Hyderabad biryani is a popular dish from the city of Hyderabad in India. It's a flavorful and aromatic dish that is traditionally made with meat. However, for those who prefer a vegetarian option, there's a delicious and easy-to-make recipe that you can try at home.
            <br>
            <a href="#">  </a>
        </div>
    </div>
    <div class="grid_3">
        <div class="box maxheight">
            <img src="assets/images/shrimp tempura roll.jpg" alt="">
            <div class="title">shrimp tempura roll</div>
            A shrimp tempura roll is a type of sushi that typically consists of bite-sized pieces of sushi rice and nori seaweed, filled with crispy fried shrimp tempura, avocado, cucumber, and sometimes spicy mayo or other sauces.
            <br>
            <a href="#"> </a>
        </div>
    </div>
    <div class="grid_3">
        <div class="box maxheight">
            <img src="assets/images/veg hakka noodles.jpg" alt="">
            <div class="title">veg hakka noodles</div>
            Veg Hakka Noodles is a popular Indo-Chinese dish that is made with thin noodles, assorted vegetables, and a variety of sauces and spices. Here's a recipe you can try at home
            <br>
            <a href="#">  </a>
        </div>
    </div>
    <div class="grid_3">
        <div class="box maxheight">
            <img src="assets/images/cheese burger.jpg" alt="">
            <div class="title">ginger burger</div>
            A ginger burger is a type of burger that contains ginger as one of its ingredients. Ginger is a popular spice that has a slightly sweet and spicy taste, and is often used in Asian cuisine.
            <br>
            <a href="#"> </a>
        </div>
    </div>
</div>
