<div class="container_12">
    <div class="grid_12">
        <h3>Our Exclusive Dishes</h3>
        <img src="assets/images/page5_img1.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
            <p class="col1">Welcome to Chips & Chops restaurant! We are the latest restaurant in town, offering the best in delicious and unique chips and chops. Our menu features creative dishes made with the freshest ingredients, all cooked to perfection. From our signature chopped salads to slow-cooked pork chops, there's something for everyone to enjoy. So come on in and experience the taste of Chips & Chops!
            </p>
            <p></p>
        </div>
        <p> </p>
    </div>

    <div class="clear"></div>

    <div class="box-footer detail-footer">
        <a class="pull-left" routerLinkActive="detail-active" [routerLink]="['menu']">
            Menu
        </a>
        <a class="pull-left" routerLinkActive="detail-active" [routerLink]="['chefs']">
            Chefs
        </a>
        <a class="pull-right" routerLinkActive="detail-active" [routerLink]="['reviews']">
            
        </a>
    </div>
</div>


<router-outlet></router-outlet>
